@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Quicksand', sans-serif;
}

header strong {
    color: #ccc;
    font-size:30px;
    padding-left:10px;
    border-left:2px solid #ccc;
    text-transform: uppercase;
}
header img {
    padding-right:10px;
}
    @media screen and (max-width: 768px) {
        header strong {
            font-size:20px;
        }
        header img {
            width:100px;
        }
    }

footer {
    padding-top:15px;
}

.navbar {
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

iframe {
    width:100%;
}

.text-secondary {
    font-size:14px;
}

#cover {
    left:-5px;
    right:-5px;
    margin-top:-5px;
    filter:blur(3px) brightness(0.5);
    height: 160px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

#curso-header {
    color:#fff;
    text-shadow:0 0 20px #000;
}
    @media screen and (max-width: 768px) {
        #curso-header {
            padding-top:30px !important;
        }
            #curso-header h2 {
                font-size:25px;
            }
            #curso-header p {
                font-size:20px;
            }
    }

.class {
    cursor: pointer;
}
    .thumbnail {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        width:90px;
    }
    .class-name {
        padding-left: 80px;
    }

.fade-in {
    animation: fadeIn 0.3s ease-in; 
}

.loading {
    height:100px;
}
